@media (min-width: 575px) {

    :root {
        --fs-40: 6rem;
    }
/*reused style*/

    .container,
    .header-top {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .btn {
        padding: 13px 40px;
    }

    .h2 {
        --fs-30: 3.5rem;
    }
/*header*/

    .header-top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 600px;
        z-index: 4;
        background-color: var(--indian-green);
        border-radius: 0 0 20px 20px;
    }

    .header-top-item:first-child {
        display: flex;
        align-items: center;
        gap: 10px;
    }


    .header-top-item ion-icon {
        font-size: 18px;
        color: var(--sonic-silver);
        --ionicon-stroke-width: 50px;
    }

    .header-top-item .item-title {
        color: var(--sonic-silver);
        font-weight: var(--fw-500);
    }

    .header-top-item .item-link {
        transition: var(--transition-1);
    }

    .header-top-item .item-link:is(:hover, :focus) {
        color: var(-eerie-black-1);
    }

    .header-top-list {
        justify-content: space-between;
    }

    .logo {
        font-size: 3rem;
    }

    .logo .span {
        font-size: 1.4rem;
    }

/* hero */

    .hero {
        padding-block-start: calc(var(--section-padding) + 80px);
    }

    .hero-text {
        font-size: var(--fs-18);
    }

    /*gallery*/

    .gallery .grid-list {
        grid-template-columns: 1fr 1fr;
    }

    /*footer*/
    .footer .email-field {
        margin-block-end: 0;
        text-align: left;
        font-size: var(--fs-18);
        padding: 10px 15px;
        padding-inline-end: 210px;
    }

    .footer .btn {
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 15px;
        width: max-content;
    }

    .footer-link-box {
        grid-template-columns: 1fr 1fr;
    }

    .footer-list:is(:nth-child(3), :nth-child(4)) {
        grid-column: 1 / 3;
    }

    .blog-card .card-title {
        --fs-14: 1.7rem;
        max-width: 25ch;
    }

}






@media (min-width: 768px) {

    :root {

        --fs-40: 8rem;
    }
    /*reused*/

    .container {
        max-width: 720px;
    }

    .h2 {
        --fs-30: 4rem;
    }

    .section-text {
        max-width: 50ch;
        margin-inline: auto;
    }

    /*header*/

    .header-top {
        max-width: 780px;
    }

    /*service*/

    .service .grid-list {
        grid-template-columns: 1fr 1fr;
    }
    /*gallery*/

    .gallery .section-text {
        margin-inline: 0;
    }

    .gallery-card .card-content {
        inset: 30px;
    }
    /*footer*/

    .footer-list:is(:nth-child(3), :nth-child(4)) {
        grid-column: auto;
    }

}


@media (min-width: 992px) {

    :root {
        --fs-40: 10rem;
    }
/*reused*/
    .container {
        max-width: 960px;
    }
/*header*/

    .nav-toggle-btn {
        display: none;
    }

    .header-top {
        max-width: 1020px;
    }

    .header-bottom {
        padding-block: 20px;
    }

    .navbar,
    .navbar-list,
    .navbar-item {
        all: unset;
    }

    .navbar-list,
    .header .btn {
        display: flex;
    }

    .navbar-link {
        padding-inline: 10px;
    }
/*hero*/

    .hero {
        --section-padding: 150px;
        padding-block-start: calc(var(--section-padding) + 100px);
    }

    .hero-title,
    .hero-text {
        max-width: 600px;
    }
/*service*/

    .service .grid-list {
        grid-template-columns: repeat(3, 1fr);
    }
/*gallery*/


    .gallery .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .gallery .section-text {
        margin-block-end: 0;
    }
/*footer*/

    .footer .logo {
        padding: 60px 70px;
        border-block-end: none;
        border-inline-end: 1px solid var(--white_10);
    }

    .footer .input-wrapper {
        flex-grow: 1;
        margin-inline: 70px;
    }

}

@media (min-width: 1200px) {

    :root {

        --fs-40: 11rem;
        --section-padding: 120px;
    }
/*reused*/
    .container {
        max-width: 1200px;
    }
/*header*/
    .header-top {
        max-width: 1260px;
    }

    .header-top-list {
        gap: 30px;
    }

    .header-top-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .header-top-item:nth-child(2) {
        margin-inline-end: auto;
    }
/*hero*/

    .hero {
        background-position: left;
        padding-block-end: 200px;
    }

    .hero-title,
    .hero-text {
        max-width: 680px;
    }
/*gallery*/


    .gallery .grid-list {
        grid-template-columns: repeat(4, 1fr);
    }
/**footer*/

    .footer-link-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
/*button back*/

    .back-top-btn {
        padding: 15px;
    }

}