@import url(variables.css);


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    /*permite definir todas as propriedades de estilo de lista de uma só vez.*/
}

a,
span,
data,
input,
select,
button,
textarea,
ion-icon {
    display: block;
    /*O elemento gera uma caixa de elemento de bloco que fluirá com o conteúdo circundante, como se fosse uma única caixa embutida*/
}

a {
    color: inherit;
    /*herança*/
    text-decoration: none;
}

img {
    height: auto;
    /*altura*/
}

input,
select,
button,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
    /*largura*/
}

button {
    cursor: pointer;
    /*especifica o cursor do mouse a ser exibido ao apontar sobre um elemento.*/
}

ion-icon {
    pointer-events: none;
    /*eventos do mouse - none - nenhum*/
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-rubik);
    font-size: 10px;
    scroll-behavior: smooth;
    /*especifica se deve animar suavemente a posição de rolagem*/
}

body {
    background-color: var(--white);
    color: var(--sonic-silver);
    font-size: 1.6rem;
    line-height: 2;
    /*altura da linha*/
    /*height: 300vh; para fazer a barra de navegação, quando estiver finalizada retira*/
}

:focus-visible {
    outline-offset: 4px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--harvest-green);
    /*define a cor da barra de rolagem*/
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

/*reused*/
.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}

.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    position: absolute;
    content: "";
}

.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h1,
.h2,
.h3 {
    font-family: var(--ff-oswald);
    line-height: 1.3;
}

.h1,
.h2 {
    text-transform: uppercase;
}

.h1,
.h3 {
    font-weight: var(--fw-600);
}

.h1 {
    color: var(--white);
    font-size: var(--fs-40);
}

.h2,
.h3 {
    color: var(--eerie-black-1);
}

.h2 {
    font-size: var(--fs-30);
}

.h3 {
    font-size: var(--fs-24);
}

.btn {
    color: var(--white);
    background-color: var(--indian-green);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    padding: 10px 25px;
    font-family: var(--ff-oswald);
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    border-radius: var(--radius-5);
    overflow: hidden;
    /*A propriedade overflow especifica o que acontece se o conteúdo transbordar da caixa de um elemento.*/
}

.btn::before {
    background-color: var(--eerie-black-1);
    inset: 0;
    z-index: -1;
    transform: skewY(-15deg) scaleY(0);
    /*faz efeito*/
    transition: var(--transition-2);
}

.btn:is(:hover, :focus)::before {
    transform: skewY(-15deg) scaleY(2.5);
    /*faz efeito*/
}


.text-center {
    text-align: center;
}


.grid-list {
    display: grid;
    gap: 30px;
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*header*/

.header-top-item,
.header .btn {
    display: none;
    padding-inline: none;
}

.header-top-list,
.header-top-list .social-list {
    display: flex;
    align-items: center;
}

/*coloca os icones em linha*/

.header-top-list {
    justify-content: flex-end;
    background-color: var(--indian-green);
}

/*justifica os icones das redes sociais ao final*/

.header-top-list .social-list {
    gap: 20px;
    padding-block: 15px;
    /*distancia entre os icones das redes socais*/
}

.header-top-list .social-link {
    color: var(--sonic-silver);
    font-size: 15px;
    transition: var(--transition-1);
}

.header-top-list .social-link:is(:hover, :focus) {
    color: var(--eerie-black-1);
}

/*efeito nos icone das redes sociais*/

.header-bottom {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    padding-block: 10px;
    z-index: 4;
}

.header-bottom.active {
    position: fixed;
    top: 0;
    background-color: var(--rich-black-fogra-39);
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* coloque o active no <div class="header-bottom  active" data-header> para testar, antes de fazer o js*/
.header-bottom>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /*estilo da logo, Atual*/
    color: var(--indian-green);
    font-family: var(--ff-oswald);
    font-size: 2.7rem;
    font-weight: var(--fw-600);
    text-transform: uppercase;
    line-height: 1.4;
}

.logo .span {
    /*estilo do span cabeleireiros*/
    color: var(--white);
    font-family: var(--ff-rubik);
    font-size: 1.3rem;
    font-weight: var(--fw-300);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.nav-toggle-btn {
    color: var(--white);
    font-size: 40px;
}

.navbar {
    /*estilo menu lateral*/
    position: absolute;
    padding-inline: 0;
    top: 100%;
    left: 15px;
    right: 15px;
    background-color: var(--rich-black-fogra-39);
    max-height: 0;
    overflow: hidden;
    transition: 0.15s var(--cubic-out);
}

.navbar.active {
    max-height: 321px;
    transition-duration: 0.5s;
}

/* active <nav class="navbar container active" data-navbar> temporariamente para configurar os estilos*/
.navbar-list {
    border-block-start: 1px solid var(--jet);
    margin-block: 25px;
}

.navbar-item {
    border-block-end: 1px solid var(--jet);
}

.navbar-link {
    color: var(--white);
    font-family: var(--ff-oswald);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    line-height: 1.5;
    padding: 10px 30px;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
    color: var(--indian-green);
}

/*hero*/
.hero {
    --section-padding: 100px;
    padding-block-start: calc(var(--section-padding) + 40px);
    background-position: center;
}


.hero::before {
    inset: 0;
    /*A insetpropriedade em CSS é uma abreviação para as quatro propriedades inseridas, top, righte bottomem leftuma declaração.*/
    background-color: var(--rich-black-fogra-39_50);
    mix-blend-mode: multiply;
    z-index: -1;
}

.hero-title {
    margin-top: 150px;
}

.hero-text {
    color: var(--white);
    margin-block: 15px 40px;
}

/*service*/

.service {
    text-align: center;
}


.service .section-text {
    margin-block: 15px 55px;
}

.service-card {
    background-color: var(--white);
    padding: 60px 25px;
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-8);
    outline: 3px solid transparent;
    transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) {
    outline-color: var(--indian-green);
}

.service-card .card-title {
    margin-block: 15px 12px;
    transition: var(--transition-1);
}

.service-card .card-title:is(:hover, :focus) {
    color: var(--indian-green);
}

.service-card .card-text {
    margin-block-end: 30px;
}

/*product*/

.title-wrapper {
    margin-block-end: 60px;
}

.gallery .section-text {
    margin-block: 12px 15px;
}

.gallery-card {
    position: relative;
}

.gallery-card::-webkit-scrollbar {
    width: 0;
}

.gallery-card .card-banner .img-cover {
    transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-banner .img-cover {
    transform: scale(1.1);
}

.gallery-card .card-content {
    position: absolute;
    inset: 15px;
    background-color: var(--eerie-black-2_85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transform: scale(0.8);
    transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-content {
    opacity: 1;
    transform: scale(1);
}


.gallery-card :is(.card-title, .card-text) {
    color: var(--white);
}

.gallery-card .card-btn {
    background-color: var(--white);
    color: var(--indian-green);
    font-size: 18px;
    padding: 16px;
    border-radius: var(--radius-5);
    margin-block-start: 12px;
    transition: var(--transition-1);
}

.gallery-card .card-btn:is(:hover, :focus) {
    background-color: var(--indian-green);
    color: var(--white);
}




/*footer*/

.footer {
    background-color: var(--eerie-black-2);
    padding-block-start: 30px;
}

.footer-top {
    margin-block-end: 30px;
}

.footer .btn {
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

.footer-link-box {
    display: grid;
    gap: 50px;
}

.footer-list-title {
    color: var(--white);
    font-family: var(--ff-oswald);
    font-size: var(--fs-18);
    font-weight: var(--fw-600);
    text-transform: uppercase;
    margin-block-end: 30px;
}

.footer-link::before {
    position: static;
    padding: 2.5px;
    background-color: var(--white_30);
    display: block;
    border-radius: 50%;
    transition: var(--transition-1);
}

.footer-link,
.footer-list-item {
    display: flex;
    align-items: center;
}

.footer-link {
    color: var(--white_50);
    gap: 10px;
    margin-block-start: 8px;
    transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
    color: var(--white);
}

.footer-link:is(:hover, :focus)::before {
    background-color: var(--white);
}


.footer-list-item {
    align-items: flex-start;
    gap: 10px;
    margin-block-start: 10px;
}

.footer-list-item ion-icon {
    color: var(--indian-green);
    font-size: 18px;
    flex-shrink: 0;
    --ionicon-stroke-width: 50px;
    margin-block: 7px;
}

.contact-link {
    color: var(--white_50);
    transition: var(--transition-1);
}

a.contact-link:is(:hover, :focus) {
    color: var(--white);
}

.footer-bottom {
    background-color: var(--eerie-black-3);
    text-align: center;
    padding: 15px;
    height: 90px;
}

.copyright-link {
    display: inline-block;
    color: var(--indian-green);
    padding: 15px;
    
}

/*button back*/

.back-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--harvest-green);
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--radius-5);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}